.container {
  margin-top: 2rem;
}
svg {
  display: block;
  margin: auto;
}
.jumbotron {
  background-color: crimson ! important;
  color: white ! important;
}
.bar:hover {
  background-color: forestgreen;
}
.toolTip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 60px;
  padding: 2px;
  font: 12px "Ubuntu";
  background: deeppink;
  color: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}